@font-face {
  font-family: "Lidren";
  src: url("/src/assets/fonts/Lidren.otf") format("opentype");
}
@font-face {
  font-family: "SanghaKali-Regular";
  src: url("/src/assets/fonts/SanghaKali-Regular.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-black {
    -webkit-text-stroke: 0.5px black;
  }
  .cursor-cartoon {
    cursor: url("/icons/cursor-pointer.svg") 10 5, pointer;
  }
}

:root {
  --r-color: #863348;
  --p-color: #fee2e2;
  --text-color: #302b2b;
  --neon-color: #f0f8ff;

  --bg-lt: #f0f0f0;
  --bf-dt: #f0f0f0;

  --main-lt: #f0f0f0;
  --main-dt: #f0f0f0;

  --side-lt: #f0f0f0;
  --side-dt: #f0f0f0;

  --border-lt: #f0f0f0;
  --border-dt: #f0f0f0;
}

* {
  color: var(--text-color);
  font-display: inherit;
}

.carousel__prev,
.carousel__next {
  border: 1px solid black !important;
  border-radius: 25% !important;
  background-color: var(--p-color) !important;
  margin: 0 !important;
  box-sizing: content-box !important;
  cursor: url("/icons/cursor-pointer.svg") 10 5, pointer !important;
}
