@font-face {
  font-family: "Lidren";
  src: url("/src/assets/fonts/Lidren.otf") format("opentype");
}
@font-face {
  font-family: "SanghaKali-Regular";
  src: url("/src/assets/fonts/SanghaKali-Regular.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-align-last-right {
    text-align-last: right;
  }

  .text-stroke-white {
    -webkit-text-stroke: 1px white;
  }

  .text-stroke-black {
    -webkit-text-stroke: 1px black;
  }

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
  }

  .cursor-cartoon {
    cursor: url("/icons/cursor-pointer.svg") 10 5, pointer;
  }
}

:root {
  --y-color: #f1f1bf;
  --r-color: #863348;
  --p-color: #fee2e2;
  --text-color: #302b2b;
  --neon-color: #f0f8ff;
}

* {
  color: var(--text-color);
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide--prev {
  transform: scale(0.95);
}

.carousel__slide--next {
  transform: scale(0.95);
}

.carousel__slide--active {
  transform: scale(1.1);
}

.carousel__prev,
.carousel__next {
  border: 1px solid var(--r-color);
  border-radius: 25%;
  background-color: var(--p-color);
  margin: 0;
  box-sizing: content-box;
  cursor: url("/icons/cursor-pointer.svg") 10 5, pointer;
}

.carousel__icon {
  fill: var(--r-color);
}